.Forminput {
        height: 24px;
        border-radius: 4px;
        border: 1px solid rgb(88, 23, 104);
        outline: transparent;
        background-color: transparent;
        padding-left: 38px;
        width: 180px;
        border: 1px solid rgba(110, 28, 113, 0.4);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.Formf {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.SrcButton {
        background-color: rgb(214, 168, 214);
        color: rgb(66, 71, 189);
        border-radius: 13px;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(84, 38, 97, 0.15);
        border: none;
}
.SrcButton:hover {
    background-color: violet;
        color: #FAF9F9;
}
.container {
    padding-top: 20px;
}