.Headernav {
        margin-top: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(7, 7, 7, 0.1);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 30px;
}

.Headerlist {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-bottom: 20px;
}